<section class="cart-price">

    <h4 class="cart-price__title">Price Details (3 items)</h4>

    <p class="cart-price__item">
        <span>Total MRP</span>
        <span>{{ priceDetails.totalMrp | currency: 'INR'}}</span>
    </p>
    <p class="cart-price__item">
        <span>Discount on MRP</span>
        <span>{{ priceDetails.discountOnMrp | currency: 'INR'}}</span>
    </p>
    <p class="cart-price__item">
        <span>Coupon Discount</span>
        <span>{{ priceDetails.couponDiscount | currency: 'INR'}}</span>
    </p>
    <p class="cart-price__item">
        <span>Platform Fee</span>
        <span>{{ priceDetails.platformFee | currency: 'INR'}}</span>
    </p>
    <p class="cart-price__item">
        <span>Shipping Fee</span>
        <span>{{ priceDetails.shippingFee| currency: 'INR'}}</span>
    </p>

    <h4 class="cart-price__item cart-price__total-amount">
        <span>
            Total amount: 
        </span>
        <span>
            {{ priceDetails | totalPrice | currency: 'INR'}}
        </span> 
    </h4>


    <button 
        *ngIf="buttonConfig.name" 
        class="btn full-width cart-btn" 
        [routerLink]="buttonConfig.url"
        [disabled]="isButtonDisabled"
    >
        {{buttonConfig.name}}
    </button>
</section>