<section class="cart-price">

    <h4 class="cart-price__title">Price Details (3 items)</h4>

    <p class="cart-price__item">
        <span>Total MRP</span>
        <span>{{'3288' | currency: 'INR'}}</span>
    </p>
    <p class="cart-price__item">
        <span>Discount on MRP</span>
        <span>{{'328' | currency: 'INR'}}</span>
    </p>
    <p class="cart-price__item">
        <span>Coupon Discount</span>
        <span>{{'128' | currency: 'INR'}}</span>
    </p>
    <p class="cart-price__item">
        <span>Platform Fee</span>
        <span>{{'38' | currency: 'INR'}}</span>
    </p>
    <p class="cart-price__item">
        <span>Shipping Fee</span>
        <span>{{'150' | currency: 'INR'}}</span>
    </p>

    <h4 class="cart-price__item cart-price__total-amount">
        <span>
            Total amount: 
        </span>
        <span>
            {{'4000' | currency: 'INR'}}
        </span> 
    </h4>


    <button *ngIf="buttonConfig.name" class="btn full-width cart-btn" [routerLink]="buttonConfig.url">{{buttonConfig.name}}</button>
</section>