<header class="header__container">
    <mat-toolbar class="header">
        <span id="company-name">
            <a routerLink="/">
                <img src="assets/images/logo.png" alt="Eshop's logo" class="header__icon">
            </a>
        </span>

        <ul class="header__category-list">
            <li *ngFor="let category of (categories | slice: 0 : 6)">
                <a [routerLink]="'/products/category/'+category.id">
                    {{category.name}}
                </a>
            </li>
        </ul>

        <div class="header__input-container">
            <input type="text" name="search" id="search" class="header__input" placeholder="Search for products" />
            <button class="header__input-search-button">
                <mat-icon aria-hidden="false" aria-label="product search button" fontIcon="search" matBadgeColor="warn">
                </mat-icon>
            </button>
        </div>

        <span>
            <a [routerLink]="'user'">
                <mat-icon aria-hidden="false" aria-label="User profile icon" fontIcon="person"></mat-icon>
            </a>
        </span>
        <span>
            <a [routerLink]="'checkout/cart'">
                <mat-icon aria-hidden="false" aria-label="User wishlist icon" fontIcon="favorite"></mat-icon>
            </a>
        </span>
        <span>
            <a [routerLink]="'checkout/cart'">
                <mat-icon aria-hidden="false" aria-label="User cart icon" fontIcon="shopping_bag" matBadge="15"
                    matBadgeColor="warn">
                </mat-icon>
            </a>
        </span>
    </mat-toolbar>
</header>