<div class="address__header">
    <p class="address__header-title">Select Delivery Address</p>

    <button class="address__button" type="button">
        Add New Address
    </button>
</div>
<div class="delivery-address">
    <section>
        <h3 class="delivery-address__header">Default Address</h3>
        <div class="delivery-address__info">
            <input type="radio" class="delivery-address__checkbox" checked>
            <div>
                <h4>Rahul Mondal</h4>
                <address>
                    <p>Lorem ipsum dolor sit amet consectetur</p>
                    <p>adipisicing elit. Voluptas maxime illum nisi.</p>
                </address>
                <p>Mob: 6294469294</p>
                <div>
                    <button type="button">Remove</button>
                    <button type="button">Edit</button>
                </div>
            </div>
        </div>
    </section>

    <section>
        <h3>Other Address</h3>
        <div class="delivery-address__info">
            <input type="radio" class="delivery-address__checkbox">
            <div>
                <h4>Rahul Mondal</h4>
                <address>
                    <p>Lorem ipsum dolor sit amet consectetur</p>
                    <p>adipisicing elit. Voluptas maxime illum nisi.</p>
                </address>
                <p>Mob: 6294469294</p>
            </div>
        </div>
        <div class="delivery-address__info">
            <input type="radio" class="delivery-address__checkbox">
            <div>
                <h4>Rahul Mondal</h4>
                <address>
                    <p>Lorem ipsum dolor sit amet consectetur</p>
                    <p>adipisicing elit. Voluptas maxime illum nisi.</p>
                </address>
                <p>Mob: 6294469294</p>
            </div>
        </div>
        <div class="delivery-address__info">
            <input type="radio" class="delivery-address__checkbox">
            <div>
                <h4>Rahul Mondal</h4>
                <address>
                    <p>Lorem ipsum dolor sit amet consectetur</p>
                    <p>adipisicing elit. Voluptas maxime illum nisi.</p>
                </address>
                <p>Mob: 6294469294</p>
            </div>
        </div>
    </section>
</div>