.header {
    padding: 12px;
    color: white;
    font-weight: 600;
    justify-content: space-evenly;
    align-items: center;

    &__container {
        position: fixed;
        z-index: 100;
        width: 100%;
        top: 0;
    }

    &__icon {
        width: 80px;
    }

    &__category-list {
        list-style-type: none;
        display: flex;
        gap: 32px;
        padding: 0;
    }

    &__input {
        padding: 12px;
        border-radius: 4px;
        border: none;
        width: 100%;

        &-container {
            display: flex;
            align-items: center;
            width: 30%;
        }

        &-search-button {
            position: relative;
            right: 3rem;
            background: white;
            border: none;
        }
    }

    span,
    a {
        text-decoration: none;
        color: rgb(46 25 25 / 68%);
        font-size: medium;
        font-weight: 500;
    }
}