<header class="header__container">
    <mat-toolbar class="header">
        <span id="company-name">
            <a routerLink="/">
                <img src="assets/images/logo.png" alt="Eshop's logo" class="header__icon">
            </a>
        </span>

        <ul class="header__category-list">
            <li *ngFor="let category of (categories | slice: 0 : 5)">
                <a [routerLink]="'/products/category/'+category.id">
                    {{category.name}}
                </a>
            </li>
        </ul>

        <div class="header__input-container">
            <input type="text" name="search" id="search" class="header__input" placeholder="Search for products" />
            <button class="header__input-search-button">
                <mat-icon aria-hidden="false" aria-label="product search button" fontIcon="search" matBadgeColor="warn">
                </mat-icon>
            </button>
        </div>

        <span>
            <a [matMenuTriggerFor]="afterMenu">
                <mat-icon aria-hidden="false" aria-label="User profile icon" fontIcon="person"></mat-icon>
            </a>
            <mat-menu #afterMenu="matMenu" xPosition="after">
                <section class="header__menu">
                    <section>
                        <h3 class="header__menu--header">Welcome {{userName}}</h3>
                        @if(!userName){
                            <p class="header__menu--info">To access and account manage orders</p>
                            <a class="header__menu--button" routerLink="login">Login/Sign up</a>
                        }
                    </section>
                    <ul>
                        @if(userName){
                            <li (click)="goToPage('profile-details')">
                                <a>Profile</a>
                            </li>
                        }
                        <li (click)="goToPage('orders')">
                            <a>Orders</a>
                        </li>
                        <li (click)="goToPage('cards')">
                            <a>Saved Card</a>
                        </li>
                        <li (click)="goToPage('vpa')">
                            <a>Saved VPA</a>
                        </li>
                        <li (click)="goToPage('addresess')">
                            <a>Saved Addresses</a>
                        </li>
                        @if(userName){
                            <li>
                                <a (click)="logout()">Logout</a>
                            </li>
                        }
                    </ul>
                </section>
            </mat-menu>
        </span>
        <span>
            <a [routerLink]="'wishlist'">
                <mat-icon aria-hidden="false" aria-label="User wishlist icon" fontIcon="favorite"></mat-icon>
            </a>
        </span>
        <span>
            <a [routerLink]="'checkout/cart'">
                
                <mat-icon aria-hidden="false" aria-label="User cart icon" fontIcon="shopping_bag"
                    [matBadge]="userName ? cartService.totalCartItems : 0" matBadgeColor="warn">
                </mat-icon>
            </a>
        </span>
    </mat-toolbar>
</header>