.delivery-address{

    &__header{
        font-weight: 500;
    }

    &__info{
        display: flex;
        border: 1px solid #8080803d;
        border-radius: 4px;
        margin-bottom: 16px;
        position: relative;
        padding: 16px 36px;
    }

    &__checkbox{
        position: absolute;
        top: 16px;
        left: 8px;
    }

    &__selected{
        box-shadow: #9392923d;
    }
}