.delivery-address {

    &__header {
        font-weight: 500;
    }

    &__info {
        display: flex;
        border-radius: 4px;
        margin-bottom: 16px;
        position: relative;
        padding: 16px 36px;
        box-shadow: 4px 5px 10px 0px rgb(0, 0, 0, 0.2);
    }

    &__checkbox {
        position: absolute;
        top: 16px;
        left: 8px;
    }

    &__selected {
        box-shadow: #9392923d;
    }
}