.profile {
    display: flex;
    width: 90%;
    gap: 16px;
    margin: auto;
    padding: 48px;
    justify-content: center;

    &__sidebar {
        list-style-type: none;
        padding: 16px;
        margin: 0;
        border-radius: 2rem;
        height: 24rem;

        width: 20%;
        box-shadow: 4px 4px 12px -8px rgb(0, 0, 0, 0.9);

        &--item {
            display: flex;
            gap: 1rem;
            padding: 12px;
            margin-right: 0px;
            border-radius: 2rem;

            >a {
                text-decoration: none;
                color: inherit;
                cursor: pointer;
            }

            &:hover {
                background-color: #80808025;
            }

            &-selected {
                background-color: #8080806b;
            }
        }
    }

    &__main-container {
        padding: 12px;
        margin: 12px;
        width: 60%;
    }
}