<section class="profile">
    <ul class="profile__sidebar">
        <li class="profile__sidebar--item" routerLinkActive="profile__sidebar--item-selected">
            <mat-icon aria-hidden="false" aria-label="User profile icon" fontIcon="account_circle"></mat-icon>
            <a routerLink="profile-details" >Profile</a>
        </li>
        <li class="profile__sidebar--item" routerLinkActive="profile__sidebar--item-selected">
            <mat-icon aria-hidden="false" aria-label="User profile icon" fontIcon="list_alt"></mat-icon>
            <a routerLink="orders">Orders</a>
        </li>
        <li class="profile__sidebar--item" routerLinkActive="profile__sidebar--item-selected">
            <mat-icon aria-hidden="false" aria-label="User profile icon" fontIcon="location_city"></mat-icon>
            <a routerLink="addresess">Saved Address</a>
        </li>
        <li class="profile__sidebar--item" routerLinkActive="profile__sidebar--item-selected">
            <mat-icon aria-hidden="false" aria-label="User profile icon" fontIcon="credit_card"></mat-icon>
            <a routerLink="cards">Saved Cards</a>
        </li>
        <li class="profile__sidebar--item" routerLinkActive="profile__sidebar--item-selected">
            <mat-icon aria-hidden="false" aria-label="User profile icon" fontIcon="send_money"></mat-icon>
            <a (click)="goToPath('vpa')">Saved VPA</a>
        </li>
        <li class="profile__sidebar--item" routerLinkActive="profile__sidebar--item-selected">
            <mat-icon aria-hidden="false" aria-label="User profile icon" fontIcon="stars"></mat-icon>
            <a routerLink="/wishlist" >Saved Items</a>
        </li>
    </ul>
    <div class="profile__main-container">
        <router-outlet></router-outlet>
    </div>
</section>

<!-- 
    Relative path example from router link
    1. use ./ or no leading slash to specify the current level.
    2. use the ../ notation to go up a level.
    3. use only slash (/) to specify absolute path
    4. routerLinkActive is used to the add selected class in the active route
 -->