<ng-container *ngIf="cartService.cartItems.length; else emptyCart">
    <div class="cart-action">
        <div class="cart-action__title">
            <label>Cart Items ({{cartService.cartItems.length}})</label>
        </div>

        <div class="cart-action__button-group">
            <button class="cart-action__button" type="button" (click)="clearCart()">Clear cart</button>
            <button class="cart-action__button" type="button" (click)="moveToWishlist()">Move to wishlist</button>
        </div>
    </div>

    <app-cart-item 
        *for="let item of cartService.cartItems" 
        [cartItem]="item"
    />
</ng-container>

<ng-template #emptyCart>
    <app-empty-state
        icon="production_quantity_limits"
        title="It seems that you have empty cart"
        subtitle="Please add products for checkout"
    >
        <button type="button" class="wish-list-button" (click)="goToCart()">
            Add product from wishlist
        </button>
    </app-empty-state>
</ng-template>