.cart-action{
    display: flex;
    justify-content: space-between;
    margin: 8px;

    &__title{
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: medium;
        font-weight: 500;
        color: #737373fc;
    }

    &__button{
        border: none;
        background: white;
        text-transform: uppercase;
        padding: 8px;
        font-weight: 600;
        color: grey;
        font-size: smaller;

        &-group{
            display: flex;
            gap: 16px;
        }
    }

}

.wish-list-button{
    color: crimson;
    font-weight: 500;
    padding: 8px;
    background: white;
    border: 2px solid crimson;
    border-radius: 4px;
}
