.product-list {
    
    &__product-container {
        display: flex;
        flex-wrap: wrap;
        overflow-y: hidden;
        width: 76%;
        margin: auto;
        left: 21rem;
    }

    &__empty-state{
        justify-content: center;
        align-items: center;
    }
}