.product-list {

    &__main-container {
        display: flex;
    }

    &__product-container {
        display: flex;
        flex-wrap: wrap;
        overflow-y: hidden;
        width: 74%;
        margin: auto;
        left: 24rem;
        position: absolute;
        
    }
}