.container {
    max-width: 1200px;
    margin: 12px auto;
    padding: 20px;
    display: flex;
    gap: 2rem;
}

.product-image img {
    max-width: 100%;
}

.product-details {
    margin-left: 20px;
}

.product-details h1 {
    font-size: 24px;
    margin: 0 0 10px;
}

.price {
    font-size: 20px;
    color: #333;
}

.description {
    margin-bottom: 20px;
}

.ratings {
    margin-bottom: 20px;
}

.ratings span {
    font-weight: bold;
    color: #ff9900;
}

.add-to-cart button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.add-to-cart input {
    width: 60px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
}

.shipping-info {
    margin-top: 20px;
    margin-bottom: 20px;
}

.related-products {
    margin-bottom: 20px;
}

.social-sharing {
    margin-bottom: 20px;
}

.additional-info {
    margin-bottom: 20px;
}

.faqs {
    margin-bottom: 20px;
}

.customer-support {
    margin-bottom: 20px;
}

.product-details__image-slider{
    display: flex;
    gap: 8px;
    justify-content: center;
    height: 64px;
}