.cart-item {

    display: flex;
    border: 1px solid #8080803d;
    border-radius: 2px;
    margin: 8px;
    padding: 12px;
    justify-content: space-between;


    &__container{
        display: flex;
        gap: 24px;

    }

    &__img {
        width: 7rem;
        height: 7rem;
    }

    &__name {
        margin-bottom: 0;
        font-size: medium;

        a {
            text-decoration: none;
            color: #232121;
            font-weight: 500;

        }

    }

    &__price {
        color: #666;
        font-size: small;
        display: flex;
        gap: 4px;

        &--actual {
            font-weight: 600;
        }

        &--off {
            color: rgb(241, 98, 98);
        }
    }

    &__details{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__quantity-container{
        display: flex;
        justify-self: center;
        align-items: center;
    }

    &__quantity-btn{
        padding: 4px;
        color: white;
        font-size: larger;
        background-color: rgb(20, 117, 220);
        border: none;
        width: 32px;
        border-radius: 2px;
    }

    &__quantity-input{
        padding: 4px;
        width: 32px;
        text-align: center;
        border: none;

    }
}