<div class="product-card" *ngIf="productInfo">
    <img [src]="productInfo.images | productImage" alt="Smartphone" class="product-card__image">
    <div class="product-card__details">
        <h4 class="product-card__name">
            <a [routerLink]="'/products/'+ productInfo.id">
                {{productInfo.title | productHeaderText: 20}}
            </a>
        </h4>
        <p class="product-card__price">
            <span class="product-card__price--actual">
                {{productInfo.price | currency: 'Rs. '}}
            </span>
            <span class="strke-through">
                {{productInfo.price + 30 | currency: 'Rs. '}}
            </span>
            <span class="product-card__price--off">
                (30% Off)
            </span>
        </p> 
    </div>
    <div class="product-card__button-group">
        <button class="btn cart-btn full-width">Add to cart</button>
        <button class="btn full-width">Add to wishlist</button>
    </div>
</div>