/* You can add global styles to this file, and also import other style files */
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.sub-container{
    background-color: white;
    margin: 12px;
    padding: 12px;
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.btn{
    padding: 8px;
    border: none;
    border-radius: 2px;
}

.cart-btn{
    background-color: crimson;
    color: white;
}


.full-width{
    width: 100%;
}

.strke-through{
    text-decoration: line-through;
}

.horizontal-divider{
    border: 1px solid #8080803d;
}
