<ng-container *ngIf="addressList.length; else emptyAddress">
    <div class="address__header">
        <p class="address__header-title">Select Delivery Address</p>

        <button class="address__button" mat-button type="button" (click)="openDialog()">
            Add New Address
        </button>
    </div>
    <div class="delivery-address">

        <section *ngIf="(addressList | addressFilter: true).length">
            <h3 class="delivery-address__header">Default Address</h3>
            <app-address-details 
                *ngFor="let address of (addressList | addressFilter: true)"
                [isChecked]="selectedAddress?.id === address.id" 
                [addressDetails]="address" 
                (removeAddress)="removeAddress($event)"
                (editAddress)="editAddress($event)" 
                (onChange)="selectAddress($event)" 
            />
        </section>

        <section *ngIf="(addressList | addressFilter: false).length">
            <h3 class="delivery-address__header">Other Address</h3>
            <app-address-details 
                *ngFor="let address of (addressList | addressFilter: false)" 
                [isChecked]="selectedAddress?.id === address.id" 
                [addressDetails]="address"
                (onChange)="selectAddress($event)"
                (editAddress)="editAddress($event)" 
                (onChange)="selectAddress($event)" 
            />
        </section>
    </div>
</ng-container>

<ng-template #emptyAddress>
    <app-empty-state
        icon="location_on"
        title="Opps!! You don't have any saved address."
        subtitle="Please add new address for the delivery"
    >
        <button class="address__button" mat-button type="button" (click)="openDialog()">
            Add New Address
        </button>
    </app-empty-state>
</ng-template>